[submodule "themes/terminimal"]
	path = themes/terminimal
	url = https://github.com/pawroman/zola-theme-terminimal.git
[submodule "themes/terminus"]
	path = themes/terminus
	url = https://github.com/ebkalderon/terminus.git
[submodule "themes/zolanight"]
	path = themes/zolanight
	url = https://github.com/mxaddict/zolanight.git
[submodule "themes/oceanic-zen"]
	path = themes/oceanic-zen
	url = https://github.com/barlog-m/oceanic-zen.git
[submodule "themes/zap"]
	path = themes/zap
	url = https://github.com/jimmyff/zola-zap
