[submodule "themes/adidoks"]
	path = themes/adidoks
	url = https://github.com/aaranxu/adidoks.git
[submodule "themes/zerm"]
	path = themes/zerm
	url = git@github.com:ejmg/zerm.git
[submodule "themes/terminimal"]
	path = themes/terminimal
	url = git@github.com:pawroman/zola-theme-terminimal.git
