{% extends "base.html" %}

{% block content %}
  <article>
    <header>
      <h1>
        {{ page.title }}
        {% if page.draft %} (Draft){% endif %}
      </h1>

      <ul class="s">
        <li>
          <time class="s" datetime="{{ page.date }}">
            Written : {{ page.date | date(format='%d %b %Y')}}
          </time>
        </li>

        {% if page.updated %}
          <li>
          <time class="s" datetime="{{ page.updated }}">
            Edited &nbsp: {{ page.updated | date(format='%d %b %Y')}}
          </time>
          </li>
        {% endif %}

        {% if page.extra.status %}
          <li>
            Status &nbsp: {{ page.extra.status | safe }}
          </li>
        {% endif %}

        {% if page.extra.source %}
          <li>
            Source &nbsp: <a href='{{ page.extra.source | safe }}'>
              {{ page.extra.source | safe }}
            </a>
          </li>
        {% endif %}

    </header>

    {{ hooks::post_above_content(page=page) }}


    {{ page.content | safe }}

    {{ hooks::post_below_content(page=page) }}

    {% if page.taxonomies is containing ("tags") %}
      <footer class="s">

        Tags: {% for tag in page.taxonomies["tags"] %}
        <a href='{{ config.base_url | safe }}/tags/{{ tag | slugify }}'>{{ tag }}</a>
        {% if not loop.last %}, {% endif %}{% endfor %}

      </footer>
    {% endif %}

    {{ hooks::post_below_tags(page=page) }}
  </article>
{% endblock content %}
